          <!-- ===== Main Content Start ===== -->
          <main>
            <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
              <!-- Breadcrumb Start -->
              <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
                <h2 class="text-title-md2 font-bold text-black dark:text-white">
                  Sign In
                </h2>

                <nav>
                  <ol class="flex items-center gap-2">
                    <li>
                      <a class="font-medium" href="index.html">Dashboard /</a>
                    </li>
                    <li class="font-medium text-primary">Sign In</li>
                    <% if user_signed_in? %>
                        <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "w-full cursor-pointer rounded-lg border border-primary bg-primary p-4 font-medium text-white transition hover:bg-opacity-90" %>
                      <% else %>
                        <%= button_to "Login", new_user_session_path, class: "w-full cursor-pointer rounded-lg border border-primary bg-primary p-4 font-medium text-white transition hover:bg-opacity-90" %>
                      <% end %>
                  </ol>
                </nav>
              </div>
              <!-- Breadcrumb End -->
          </main>
          <!-- ===== Main Content End ===== -->